version: '3.8'
services:
mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: dd_db
    volumes:
      - mongodb_data:/data/db
    networks:
      - mean-network
 backend:
    image: dclops/mean-backend:latest
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/dd_db
    depends_on:
      - mongodb
    networks:
      - mean-network

frontend:
    image: dclops/mean-frontend:latest
    container_name: frontend
    restart: unless-stopped
    ports:
      - "4200:80"
    volumes:
      - /home/ec2-user/simple-frontend:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - mean-network

volumes:
  mongodb_data:
networks:
  mean-network:
    driver: bridge
