services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: dd_db
    volumes:
      - mongodb_data:/data/db

  backend:
    image: mean-backend
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      MONGODB_URL: "mongodb://mongodb:27017/dd_db"
    depends_on:
      - mongodb

  frontend:
    image: mean-frontend-local
    container_name: frontend
    restart: unless-stopped
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongodb_data:
