version: '3.8' 
 
services: 
  mongodb: 
    image: mongo:6.0 
    container_name: mongodb 
    restart: unless-stopped 
    environment: 
      MONGO_INITDB_DATABASE: dd_db 
    ports: 
      - "27017:27017" 
    volumes: 
      - mongodb_data:/data/db 
    networks: 
      - mean-network 
 
  backend: 
    build: ./backend 
    container_name: backend 
    restart: unless-stopped 
    ports: 
      - "8080:8080" 
    environment: 
      - MONGODB_URL=mongodb://mongodb:27017/dd_db 
    depends_on: 
      - mongodb 
    networks: 
      - mean-network 
 
  frontend: 
    build: ./frontend 
    container_name: frontend 
    restart: unless-stopped 
    ports: 
      - "4200:80" 
    depends_on: 
      - backend 
    networks: 
      - mean-network 
 
volumes: 
  mongodb_data: 
 
networks: 
  mean-network: 
    driver: bridge 
